################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.config
/.vs
/wwwroot/robots.txt


/bin
/obj

bin/
obj/

/**/bin/
**/obj/.multi-committer-backup/
