name: Deploy to Staging from Development

on:
  push:
    branches:
      - stage
  workflow_dispatch:

jobs:
  deploy:
    name: Build and Deploy Backend to Staging  
    runs-on: [self-hosted, Staging]

    strategy:
      matrix:
        dotnet: ["8.0.x"]

    env:
      PM2_HOME: /root/.pm2
      DOTNET_ENVIRONMENT: Staging
      ASPNETCORE_ENVIRONMENT: Staging
      CONNECTION_STRING: ${{ secrets.CONNECTION_STRING_STAGING }}
      ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD_STAGING }}
      Smtp__Host: ${{ secrets.SMTP_HOST }}
      Smtp__Username: ${{ secrets.SMTP_USERNAME }}
      Smtp__Password: ${{ secrets.SMTP_PASSWORD }}
      Smtp__From: ${{ secrets.SMTP_FROM }}
      Smtp__Port: ${{ secrets.SMTP_PORT }}

    steps:
      - uses: actions/checkout@v3

      - name: Set HOME environment variable
        run: echo "HOME=/home/runner" >> $GITHUB_ENV

      - name: Setup .NET SDK ${{ matrix.dotnet }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build solution
        run: dotnet build --configuration Release --no-restore

      - name: Publish app
        run: dotnet publish -c Release -o __BACKEND_PUBLISH_PATH__

      - name: Apply EF Core Migrations
        working-directory: __BACKEND_PUBLISH_PATH__
        env:
            DOTNET_ENVIRONMENT: Staging
            CONNECTION_STRING: ${{ secrets.CONNECTION_STRING_STAGING }}
        run: |
          dotnet tool update --global dotnet-ef || true
          export PATH="$PATH:$HOME/.dotnet/tools"
          dotnet ef database update --no-build --verbose

      - name: Deploy with PM2
        run: |
            pm2 delete __PM2_APP_NAME__ || true

            DOTNET_ENVIRONMENT=Staging \
            ASPNETCORE_ENVIRONMENT=Staging \
            CONNECTION_STRING="${{ secrets.CONNECTION_STRING_STAGING }}" \
            ADMIN_PASSWORD="${{ secrets.ADMIN_PASSWORD_STAGING }}" \
            Smtp__Host="${{ secrets.SMTP_HOST }}" \
            Smtp__Username="${{ secrets.SMTP_USERNAME }}" \
            Smtp__Password="${{ secrets.SMTP_PASSWORD }}" \
            Smtp__From="${{ secrets.SMTP_FROM }}" \
            Smtp__Port="${{ secrets.SMTP_PORT }}" \
            pm2 start __BACKEND_DLL_PATH__ \
                --name __PM2_APP_NAME__ \
                --interpreter dotnet \
                --update-env

            pm2 save

      - name: Reload Nginx
        run: sudo service nginx reload
